extends layout

block layout-content
  div.View
    div.Message
      div.Title
        label(for="Year of release") 
        input(type="number")
        label(for="Artist name") 
        input(type="text", name="")
    div.NavButtons