<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>Record Catalogue</h1>
    <div class="newRecord">
      <input type="number" name="release_year" placeholder="Year of release" min="1920">
      <input type="text" name="album_name" placeholder="Album Title">
      <input type="text" name="artist_name" placeholder="Artist Name">
      <input type="text" name="genre" placeholder="Genre">
      <input type="text" name="subGenre" placeholder="subGenre">
      <button>submit</button>
    </div>
  </body>
</html>