extends layout

block layout-content
  div.View
    h1.Banner Record DB
    div.Message
      div.Title
        h3 insert text here
        h1 insert more text here
      span.Details and yet more text
    div.NavButtons
      a(href="/user")
          div.NavButton Add new user