<!DOCTYPE html>
<html></html>
<head>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body></body>
<div class="sidebar">
  <div class="forms">
    <form method="post" action="/table/add">
      <div class="newRecord">
        <h3>Create New Entry</h3>
        <div class="newRecord"></div>
        <input class="textInput" type="number" name="release_year" placeholder="Year of release" min="1920">
        <div class="newRecord"></div>
        <input class="textInput" type="text" name="album" placeholder="Album Title">
        <div class="newRecord"></div>
        <input class="textInput" type="text" name="artist" placeholder="Artist Name">
        <div class="newRecord"></div>
        <input class="textInput" type="text" name="genre" placeholder="Genre">
        <div class="newRecord"></div>
        <input class="textInput" type="text" name="subgenre" placeholder="Subgenre">
        <div class="newRecord"></div>
        <button type="submit">Create!</button>
      </div>
    </form>
    <form method="POST" action="/table/amend?_method=PUT">
      <div class="updateEntry">
        <h3>Update Existing Entry</h3>
        <div class="updateEntry"></div>
        <input class="textInput" type="number" name="release_year" placeholder="Year of release" min="1920">
        <div class="updateEntry"></div>
        <input class="textInput" type="text" name="album" placeholder="Album Title">
        <div class="updateEntry"></div>
        <input class="textInput" type="text" name="artist" placeholder="Artist Name">
        <div class="updateEntry"></div>
        <input class="textInput" type="text" name="genre" placeholder="Genre">
        <div class="updateEntry"></div>
        <input class="textInput" type="text" name="subgenre" placeholder="Subgenre">
        <div class="updateEntry"></div>
        <input class="textInput" type="text" name="id" placeholder="Record Number">
        <div class="updateEntry"></div>
        <button type="submit">Update!</button>
      </div>
    </form>
    <form method="POST" action="/table/del?_method=DELETE">
      <div class="deleteEntry">
        <h3>Delete Entry</h3>
        <div class="deleteEntry"></div>
        <input class="textInput" type="number" placeholder="Catalogue Number" name="id">
        <button type="submit">Delete!</button>
      </div>
    </form>
  </div>
</div>