/* * {
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.newRecord {
  column-width: 160px;
  width: 150px;
  padding: 1px;
  font-size: 9px;
  margin: 1px;
}

.updateEntry {
  column-width: 160px;
  width: 150px;
  padding: 1px;
  font-size: 9px;
  margin: 1px;
}

.radioButtons {
  vertical-align: middle;
}

.updates {
  column-width: 180px;
  box-shadow: 10px;
  background-color: rgb(217, 200, 234);
  width: 220px;
  padding: 10px;
}

.flex-container {
  display: flex;
}

.flex-child {
  background-color: rgb(188, 183, 192);
  flex: 0 0 200px;
  border: 2px solid grey;
}

.flex-child:first-child {
  margin-right: 20px;
}

.flex-child:

} */

* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sidebar {
  height: 100%;
  width: 220px;
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 40px;
  background-color: lightblue;
}

.forms {
  font-size: small;
  justify-content: end;
  width: 200px;
  padding-left: 15px;
}

.newRecord {
  padding: 2px;
}

.updateEntry {
  padding: 2px;
}
